.newPassword {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 6rem 0 2rem 0;

    img {
        width: 300px;
    }

    #formRecPass {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                font-weight: 600;
            }

            input {
                width: 300px;
                height: 30px;
                border-radius: 6px;
                padding-left: 6px;
                border: none;

                &::placeholder {
                    color: rgba(255, 0, 0, 0.349);
                }
            }
        }

        .btn {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .recPassDiv {
        flex-direction: column;
        padding: 0 1rem;
        width: 100%;

        img {
            display: none;
        }

        #formRecPass {
            gap: 1rem;
            width: 100%; 
        }
    }
}